@font-face {
  font-family: "Strata";
  src: url("./../strata.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.footer {
  align-items: center;
  background-color: #2d4600;
  display: flex;
  flex-direction: column;
  font-family: "Strata";
  height: 150px;
  padding-top: 20px;
  position: relative;
  z-index: 100;
}

.newsletter {
  background-color: #596800;
  border-radius: 5px;
  box-shadow: 0px 2px 6px #1d1e1f;
  height: 35px;
  width: 320px;
}

.btn:hover {
  cursor: pointer;
}

.btn {
  background-color: #d7a100;
  border: none;
  border-radius: 5px;
  font-family: "Strata";
  padding: 5px 10px;
}

#newsletter__email {
  width: 220px;
  height: 30px;
  background-color: #596800;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 4px;
  color: #a7af75;
}

#newsletter__email:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#newsletter__email::placeholder {
  color: #a7af75;
  font-size: 1.2em;
}

.contact__link {
  margin-left: 10px;
}

.contact__link img {
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

.copy {
  color: #395a00;
  font-weight: 700;
}

@media (max-width: 800px) {
  .footer {
    height: 150px;
    background-color: #2d4600;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    position: relative;
    z-index: -10;
  }

  .comeback {
    display: none;
  }
}
