html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@keyframes fadeInBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.comeback {
  position: fixed;
  transform: scale(0.45);
  top: 34vw;
  left: 80vw;
  z-index: 200;
  animation: fadeInBtn 1s 2s both;
}

.bg1__container {
  height: 50vw;
  width: 100%;

  background-image: url("./../img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
}

.logoMain {
  height: 40vw;
  margin: 0 auto;
  padding-top: 10%;
  width: 90%;

  background-image: url("./../img/brLogoMain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.div__wp {
  height: 12vw;
  width: 100%;

  background-image: url("./../img/divWhitepaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;

  position: absolute;
  top: 45vw;
}

.bg2__container {
  height: 50vw;
  width: 100%;

  background-image: url("./../img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: -5;
}

.wood__book {
  height: 60vw;
  margin: 0 auto;
  width: 100%;

  background-image: url("./../img/plate.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;

  position: relative;
}

.book {
  background: center no-repeat;
  height: 30vw;
  margin: 0 auto;
  width: 100%;

  position: relative;
  left: 25vw;
  top: -53vw;
  transition: 300ms;
  z-index: 12;
  transform: scale(0.8);
}

.book img {
  height: 25vw;
  margin: 10vw;
  transition: 200ms;
}

.book img:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.bg3__container {
  height: 103vh;
  width: 100%;

  background-image: url("./../img/bg3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: absolute;
}

.plate__trailer {
  height: 40vw;
  margin-left: 2vw;
  width: 50%;

  background-image: url("./../img/plateTrailer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  position: relative;
  top: -100;
}

.div__wood0 {
  height: 5vw;
  width: 100%;

  background-image: url("./../img/div.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  position: absolute;
  top: 48vw;
}

.div__wood1 {
  height: 5vw;
  width: 100%;

  background-image: url("./../img/div.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  position: absolute;
  top: 98vw;
  z-index: 10;
}

.div__wood2 {
  height: 5vw;
  width: 100%;

  background-image: url("./../img/div.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  position: absolute;
  top: 145vw;
  z-index: 10;
}

.txt__trailer {
  height: 20vw;
  margin: 0 auto;
  width: 22%;

  background-image: url("./../img/txtPlateTrailer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  position: absolute;
  top: 95vw;
  left: 16vw;
}

.video {
  position: absolute;
  left: 6vw;
  top: 111vw;
  transform: scale(0.85);
  z-index: 12;
}

.video iframe {
  width: 44vw;
  height: 24vw;
}

.bg4__container {
  border-bottom: 3px solid #e1ae00;
  height: 120vh;
  width: 100%;

  background-image: url("./../img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -50;
}

.txt__rm {
  height: 12vw;
  width: 100%;

  background-image: url("./../img/roadmap2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;

  position: absolute;
  top: 141vw;
  z-index: 10;
  transform: scale(0.8);
}

.folha_esq {
  height: 32vw;
  width: 20%;

  background-image: url("./../img/folhaDivisao2.png");
  background-repeat: no-repeat;
  background-size: 8vw;

  position: absolute;
  top: 141vw;
  z-index: 10;
}

.folha_dir {
  height: 20vw;
  width: 20%;

  background-image: url("./../img/folhaDivisao1.png");
  background-repeat: no-repeat;
  background-size: 10vw;
  background-position: right;

  position: absolute;
  left: 80vw;
  top: 87vw;
  z-index: 10;
}

.roadmap {
  height: 50vw;
  width: 100%;
  transform: translateX(-3%);

  background-image: url("./../img/roadmaptxt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;

  position: absolute;
  top: 150vw;
  z-index: 12;
}

.btnmore {
  transform: scale(0.57);
  position: relative;
  left: 56vw;
  top: 13vw;
  transition: 300ms;
  z-index: 1000;
}

.btnmore:hover {
  transform: scale(0.6);
  cursor: pointer;
}

.roadmap__mobile {
  display: none;
}
